%card {
    width: calc(50% - 5px);
    max-width: 250px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    box-shadow: 0 2px 15px 1px rgb(0 0 0 / 10%);
    border-radius: 10px;
    padding-bottom: 15px;
}
%background-image {
    background-position: center center;
    background-size: cover;
}
%cover {
    min-height: 200px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    @extend %background-image;
}

%box-shadow {
    box-shadow: 0 2px 15px 1px rgb(0 0 0 / 10%);
}